.u-section-1 {
  background-image: url("images/athlete-bike-black-and-white-cycle-260409.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 808px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 9px;
  font-weight: 700;
  margin: 365px 106px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-list-1 {
  min-height: 245px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  width: 1140px;
  margin: 30px auto 30px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 26px 117px 0 116px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 26px 97px 0 96px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 26px 117px 0 116px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-list-1 {
    min-height: 202px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-list-1 {
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-list-1 {
    min-height: 239px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-list-1 {
    min-height: 451px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: url("images/pexels-photo-3688303.jpeg");
  background-position: 0% 45.56%;
  background-size: 125%;
}

.u-section-3 .u-sheet-1 {
  min-height: 584px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 60px 677px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 150px;
  width: 150px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 300;
  margin: -90px 570px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 1054px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 854px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 634px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    background-size: auto 125%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 77px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -60px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -62px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 254px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 369px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 141px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  white-space: nowrap;
  margin: 0 0 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 89px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-social-icons-1 {
    width: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 167px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 105px;
  }
}